
  <h2>Edit Project</h2>

<table>
<tr>
  <td>
    <label>New Project Title:</label>
    <input [(ngModel)]="selectedProject.title">
  </td>
  
  <td>
    <label>New Project Manager:</label>
    <input [(ngModel)]="selectedProject.agent">
  </td>

  <td>
    <label>New Project Description:</label>
    <input [(ngModel)]="selectedProject.description">
  </td>

  <td>
    <label>New Project Money Needed:</label>
    <input [(ngModel)]="selectedProject.money">
  </td>
</tr>
</table>
<button (click)="beginUpdatingProject(selectedProject)">Update</button>
<button (click)="beginDeletingProject(selectedProject)">Delete</button>