
    <div class="jumbotron">Add New Project</div>
    <div>     
    <label>Title:</label>
          <br>
          <input #newTitle>
        </div>
  
        <div>
          <label>Manager:</label>
          <br>
          <input #newAgent>
        </div>
  
        <div>
          <label>Description:</label>
          <br>
          <textarea #newDescription></textarea>
        </div>
        <div>
            <label>Money Needed:</label>
            <br>
            <input #newMoney>
        </div>
        <button class="btn btn-success" (click)="submitForm(newTitle.value, newAgent.value, newDescription.value, newMoney.value); newTitle.value=''; newAgent.value=''; newMoney.value=''">Add</button>
    
        <div *ngIf="currentRoute === '/admin'">
          {{project.description}}</div>
          <hr>
          <app-edit-project [selectedProject]="project"></app-edit-project>


    <app-project></app-project>
  